<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165641276734-n6cn3m4u37ck10sssiadm90amgr0bkk7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165641276734-n6cn3m4u37ck10sssiadm90amgr0bkk7</string>
	<key>API_KEY</key>
	<string>AIzaSyAJrJJQrpP0TqTRVNyVj_tHkWCnnOoldS8</string>
	<key>GCM_SENDER_ID</key>
	<string>165641276734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grsouza.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-b778f</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-b778f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165641276734:ios:7b9f99828719915885f06f</string>
</dict>
</plist>